<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro de Eventos e Convidados - Menu de Opções</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body> -->
    <header>
        <h1>Dashboard</h1>
    </header>
    <section>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue ante et ultrices rhoncus. Aliquam interdum lectus lacinia lectus luctus molestie. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent mauris libero, lacinia vel augue et, iaculis pharetra massa. Sed luctus ultricies gravida. Sed a dignissim eros. Mauris vel sollicitudin enim. Quisque eu ante laoreet, imperdiet lorem ac, tempor libero. Sed imperdiet elementum fermentum. Maecenas quis lectus a dolor pellentesque bibendum.
        </p>

        <p>

            Suspendisse ligula sapien, faucibus vitae dictum at, porttitor rhoncus nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc nulla lorem, sodales ultrices molestie at, interdum in ipsum. Praesent nunc lectus, eleifend ut justo eget, interdum vestibulum metus. Pellentesque commodo, nunc non gravida aliquet, tellus justo blandit neque, vulputate consectetur sapien leo vitae ante. Nunc auctor sagittis sagittis. Donec sit amet finibus nibh.
        </p>


    </section>
    <!-- <footer>
        <small>Sistema de Cadastro de Eventos e Convidados</small>
    </footer>
</body>

</html> -->